
#mapid{
  height : 100vh;
}

body{
  margin : 0px;
  padding : 0px;
  overflow: hidden;
}

#map-wrapper {
  width: 100%;
  height : 100vh;
  position: relative;
  border: 1px solid black;
}

#input-wrapper {
  position: absolute;
  top:0;
  right:10px;
  z-index: 999;
}

input{
  padding: 10px 10px;
  margin: 5px 0;
  box-sizing: border-box;
  font-size: 15px;
}

#details{
  position: absolute;
  bottom:20px;
  right:10px;
  z-index: 999;
  font-size: 15px;
}

#author{
  position: absolute;
  bottom:20px;
  left:10px;
  z-index: 999;
  font-size: 15px;
  background-color: aliceblue;
}